body {
  font-family: Forum;
}


.front-page-image {
  width: 1425px;
  height: 750px;
  padding: 0;
  

}

.front-page-image-container {
  object-fit: cover;
  align-items: center;
  justify-content: center;
  position: relative;

}

.front-page-container {
  display: flex;
  flex-direction: row;
}

.div1 {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.div1-title {
  font-family: Forum;
  font-size: 100px;
  font-weight: bold;
  vertical-align: center;
  justify-content: center;
  align-items: center;
  color: #E8C498;
  text-shadow: 2px 2px gray;
}

.div1-space {
  height: 300px;
}

.div1-title {
  padding-left: 50px;
  margin-bottom: 0;
  text-align: center;
  transition: color 0.15s;

}

.div1-title:hover {
  color: white;
  cursor: default;
}


.div1-desc {
  padding-left: 50px;
  margin-top: 0;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}

@media (min-width:5760px) {
  .front-page-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
  }

  .div1-title {
    color: #E8C498;
    text-shadow: 10px 10px black;
  }

  .div1-desc {
    color: #E8C498;
    text-shadow: 2px 2px black;
  }
}

.about-image-container {
  background-color: #E8C498;
  margin-right: 70px;

}

.about-image, .contact-image {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.about-container, .contact-container {
  display: flex;
  background-color: #E8C498;
  justify-content: center;
}

.hr-spacing {
  margin-top: 50px;
}

.about-text-container, .contact-text-container {
  display: flex;
  flex-direction: column;
}

.about-space, .contact-space {
 height: 200px;
}

.about-about, .contact-about {
  font-weight: bold;
  font-size: 70px;
}

.about-tagline, .products-tagline , .contact-tagline {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 25px;

}

.products-tagline {
  text-align: right;
}

.about-desc, .products-desc, .contact-desc, .contact-desc1 {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 20px;
  width: 500px;
}

.products-desc, .contact-desc1 {
  text-align: right;
}

.about-main-container {
  padding-top: 5px;
  padding-bottom: 60px;
}

.products-main-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.products-image {
  width: 400px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  margin-left: 70px;
}

.products-space {
  height: 200px;
}

.products-about {
  font-size: 70px;
  font-weight: bold;
  text-align: right;
}

.products-main-container {
  padding-top: 70px;
  padding-bottom: 70px;
}

.quote-main-container {
  background-color:#E8C498 ;
  padding-top: 30px;
  padding-bottom: 30px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.quoute-space {
  height: 250px;
}

.quote-quotation {
  font-size: 70px;
  margin-bottom: 10px;
}

.quote-author {
  font-size: 20px;
}

.contact-container {
  display: flex;
  flex-direction: row;
}

.contact-container {
  background-color: white;
}

.contact-text-container {
  margin-left: 50px;
}

.contact-main-main1 {
  display: flex;
  flex-direction: row;
  background-color: #E8C498;
  justify-content: center;
}

.contact-image1 {
  width: 400px;
  justify-content: center;
  padding: 50px;
  margin-left: 60px;
}

.contact-main-container1 {
  padding-top: 70px;
  margin-top: 50px;
}

.contact-space1 {
  margin-top: 50px;
  height: 250px;
}

.contact-about1 {
  font-size: 70px;
  text-align: right;
  font-weight: bold;
}

.contact-tagline1 {
  font-size: 20px;
  text-align: right;
}

.footer-main-container {
  margin-top: 20px;
}

.footer-container {
  text-align: center;
  font-weight: bold;
  transition: color 0.15s;
}

.footer-jonelle:hover {
  color: lightcoral;
  cursor: default;
}
